* {
    margin: 0px;
}


#nav-menu {
    width: 100%;
    position: fixed;
    display: flex;
}

#nav-menu-left {
    width: 40%;
    background-color: aqua;
    padding-top: 1.5%;
    padding-left: 7%;
}

#nav-menu-right {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    padding-right: 1.7%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#nav-menu-right a {
    text-decoration: none;
    font-size: 25px;
}

#nav-menu-left a {
    text-decoration: none;
    font-size: 40px;
}

#home {
    padding-top: 15%;
    padding-left: 8%;
    background-color: teal;
    height: 500px;
}

#hello {
    font-size: 30px;
    color: white;
}

#role-title {
    margin: 40px auto;
    font-size: 70px;
    color: white;
}

#resume-link-2 {
    text-decoration: none;
    font-size: 40px;
    padding: 20px 40px;
    color: brown;
    background-color: darkgray
}

#about {
    padding-top: 8%;
    padding-left: 8%;
    background-color: white;
    height: 100vh;
}

#about-title {
    text-align: center;
    text-decoration-style: solid;
    font-size: 60px;
    color: teal;
    margin-bottom: 50px;
}

#image {
    width: 40%;
}

#image img {
    width: 100%;
    border-radius: 50%;
    height: 80%;
}

#about-content {
    width: 60%;
    padding: 6%;
    font-size: 20px;
    margin: 4% auto;
}

#about-cont {
    display: flex;
}










#skills {
    padding: 10%;
    background-color: darkgray;
    height: 100vh;
}
#skill-title{
    text-align: center;
    text-decoration-style: solid;
    font-size: 60px;
    color:black;
    margin-bottom: 50px
}

#skill-cont {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 100px;
    row-gap: 40px;
    transition: transform .06s;
}


.skills-card{
    padding: 10px;
   justify-content: center;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 25px;
   transition: transform .06s;
   background-color: bisque;
}
#skill-cont :hover{
    -ms-transform: scale(3);
  transform: scale(1.1); 
}

.skills-card-img{
    width: 90%;
}




#projects {
    padding: 10%;
    height: 100vh;
    background-color: teal;
}
#project-title{
    text-align: center;
    text-decoration-style: solid;
    font-size: 60px;
    color:black;
    margin-bottom: 50px
}

#project-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 100px;
    row-gap: 40px;
    transition: transform .06s;
   
}
.project-card{
    padding: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    transition: transform .06s;
   
}
.project-title{
    margin: 10px auto;
}
.project-card img{
    width: 100%;
    border-radius: 25px;
}
.project-tech-stack{
    color: white;
}
.tech{
    font-size: 25px;
    border: 1px solid red;
    padding: 5px;
    background-color: brown;
    border-radius: 25px;
}
.project-description{
    color: white;
    padding: 20px auto;
    margin-top: 15px;
}
.project-github-link{
    margin-right: 40px;
    text-decoration: none;
    font-size: 25px;
    background-color:blueviolet;
    padding: 10px;
    border-radius: 25px;
    color: black;
    
    
}
.project-deployed-link{
    text-decoration: none;
    font-size: 25px;
    background-color: azure;
    padding: 10px;
    border-radius: 25px;
    
}

#contact {
    height: 100vh;
    background-color: white;
    padding-top: 8%;
    padding-left: 8%;
}

#contact-title {
    text-align: center;
    text-decoration-style: solid;
    font-size: 60px;
    color:black;
    margin-bottom: 50px
}
#contact-content{
    display: flex;
}
#contact-detail{
    width: 50%;

}
#contact-by-message{
    width: 50%;
}
.social-logo{
    height: 70px;
    width: 70px;
}
.right{
    padding-left: 40px;
}
#contact-linkedin,#contact-github{
    text-decoration: none;
    font-size: 25px;
}

#name-box,#email-box{
    width: 37%;
    margin: 15px 5px;
    padding: 10px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    border:0.05px solid silver;
}
#subject-box{
    width: 80%;
    margin: 15px 5px;
    padding: 10px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    border:0.05px solid silver;
}
#message-box{
    width: 80%;
    margin: 15px 5px;
    padding: 10px ;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    border:0.05px solid silver;
}
#send-message{
    width: 37%;
    margin: 15px 5px;
    padding: 10px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    border:0.05px solid silver;
}
#copywrite{
   
    background-color: black;
   
    margin-bottom: 0px;
    color: white;
    padding: 1px;
}
#copywrite p{
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top:15px;
}