*{
    margin: 0px;
}


#nav-menu{
    width: 100%;
    position: fixed;
    display: flex;
}
#nav-menu-left{
    width: 40%;
    background-color: aqua;
    padding-top: 1.5%;
    padding-left: 7%;
}
#nav-menu-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    padding-right: 1.7%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#nav-menu-right a{
    text-decoration: none;
    font-size: 25px;
}
#nav-menu-left a{
    text-decoration: none;
    font-size: 40px;
}

#home{
    padding-top: 15%;
    padding-left: 8%;
    background-color: teal;
    height: 500px;
}
#hello{
    font-size: 30px;
    color: white;
}
#role-title{
    margin: 40px auto;
    font-size: 70px;
    color: white;
}
#resume{
    text-decoration: none;
    font-size: 40px;
    padding: 20px 40px;
    color:brown;
    background-color:darkgray
}

#about{
    padding-top: 8%;
    padding-left: 8%;
   background-color:white;
   height: 100vh;
}

#about-title{
    text-align: center;
    text-decoration-style: solid;
    font-size: 60px;
color: teal;
margin-bottom: 50px;
}
#image{
    width: 40%;
}
#image img{
    width: 100%;
    border-radius: 50%;
    height: 80%;
}
#about-content{
    width: 60%;
    padding: 6%;
    font-size: 20px;
    margin: 4% auto;
}
#about-cont{
    display: flex;
}
#skills{
    height: 100vh;
    
    background-color: yellow;
}

#skill-cont{
    display: grid;
}
#projects{
    height: 100vh;
    background-color: green;
}
#contact{
    height: 100vh;
    background-color: teal;
}
