* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
  color: white;
}
body {
  /* background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb); */
  background-color: #191919;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
#headers {
  /* position: -webkit-sticky; */
  position: sticky;
  background-attachment: fixed;
  /* background-color: #3f51b5; */
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 10px;
}
.container {
  padding: 10px 10%;
  z-index: 9px;
}
nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a :hover::after {
  width: 100%;
}

.nav-link resume > button {
  background-color: #ffc107;
}

.nav-link > button {
  font-size: initial;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
  background-color: gold;
}

#resume-button-1 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
#resume-button-2 {
  background-color: orange;
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-size: large;
  text-decoration: none;
}

/* ---------------Home section-------------------- */
#codersImage{
  /* border: 2px solid yellow; */
  width: 100%;
}
#home {
  display: flex;
  margin-top: 80px;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 90px;

  /* border: 1px solid black; */
  padding: 1rem 2rem;
  align-items: flex-end;
}

#intro_section {
  width: 50%;
}

#resume_btn1 > a:nth-child(1) > button {
  padding: 6px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 117%;
  background-color: navy;
  color: white;
  border-radius: 6px;
  border: none;
}
#resume_btn1 > a:nth-child(2) > button {
  padding: 6px;
  font-size: 117%;
  padding-right: 13px;
  padding-left: 13px;
  background-color: cornflowerblue;
  border-radius: 6px;
  /* font-size: large; */
}
#resume-link-2{
  text-decoration: none;
  color: black;
}
#intro_section > p {
  font-size: 270%;
  color: silver;
  font-weight: 500;
}
#user-detail-name {
  font-size: 250%;
  margin-top: 20px;
  color: skyblue;
}
#user-detail-intro {
  font-size: 100%;
}
#resume_btn1 {
  margin-top: 20px;
}

#socialiconslinks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  text-align: center;
  align-items: center;
}
#socialiconslinks > i:hover {
  color: #cc150fde;
}
.logotheme {
  width: auto;
  text-align: end;
  /* border: 2px solid rgb(66, 119, 61); */

}
.logotheme > img {
  width: 62%;
  text-align: center;
  margin-left: 140px;
  border-radius: 20px;
}
.fa-linkedin {
  font-size: 30px;
}
.fa-github {
  font-size: 30px;
}
.fa-twitter {
  font-size: 30px;
}

.name {
  font-size: 3rem;
}
#span_name {
    color: silver;
 
}

/* ------------------About---------------------------------- */

#aboutheading {
  text-align: center;
  font-size: 230%;
}
#about {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}

.about_container {
  display: flex;
  justify-content: space-around;
}
.about_container > div:nth-child(1) {
  width: 40%;
  /* border: 2px solid red; */

}
.about_container > div:nth-child(2) {
  width: 40%;
}

.about_buttons {
  text-align: center;
  margin-bottom: 5vh;
}
#intro_button {
  background-color: #ffc107;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#experience_button {
  background-color: #ffc107;
  font-size: large;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.about_section img {
  border-radius: 15px;
  width: 80%;
  height: 255px;
  object-fit: cover;
}

.about_ex_projects {
 
  display: flex;
  margin-top: 5vh;
  text-align: center;
  justify-content: space-evenly;
}
.about_ex_projects > div {

  padding: 10px;
}

.about_ex_projects > div > i {
  font-size: 40px;
}

/* Project section...... */
.projectsection {
  margin-top:10vh;
}

.project_container {
  display: grid;
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project_container > div {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.project_container :hover {
  /* background-color: rgba(2, 2, 3, 0.8); */
  background-color: navy;
  transition: all 0.2s ease-in-out;
}

#project_img {
  width: 90%;
  /* height: 10rem; */
}
.project-title {
  text-align: center;
  padding: 5px;
}

#project_descriptions {
  padding-left: 10px;
}

.project-github-link > button {
  text-align: center;
  align-items: center;
}
#deployed_container {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 2vh;
  align-items: center;
}

.project-github-link {
  margin-left: 5%;
}
.project-deployed-link {
  font-size: larger;
  margin-right: 6%;
  text-decoration: none;
}
.project-deployed-link > button {
  align-items: center;
  background-color: #2b0338;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 90%;
  min-width: 81px;
  padding: 9px;

  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.project-tech-stack>span {
  color: #ff7a59;
}
#project_content {
  /* margin: 10px; */
  text-align: center;
  font-size: small;
  width: 80%;
  margin: auto;
  padding-top: 5px;
}


.fa {
  color: white;
}
/* skills section.... */
#skills_container {
  width: 80%;
  margin: auto;
  margin-top: 10vh;
  /* padding-top: 85px; */
  display: grid;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  /* border: 2px solid white; */
  padding: 35px 10rem;
  background-color: rgb();
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.skills-card > img {
  width: 60%;
}
#skills_i_have {
  font-size: 230%;
  text-align: center;
  padding-top: 91px;
  margin-bottom: 60px;
}
#skills {
  margin-top: 10vh;

}

/* github calenders... */

#github_activity_calender {
  width: 100%;
  margin: auto;
}
.react-activity-calendar {
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 4vh;
  width: 80%;
}

#githtext {
  font-size: 230%;
  text-align: center;
  margin-bottom: 8vh;
}

#react-activity-calendar {
  /* font-size: smaller; */
  margin-bottom: 10vh;
  width: 90%;
  margin: auto;
}

#githubstats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#githubstats > div:nth-child(1):img svg {
  font-size: 300px;
}
.calendar {
  margin-bottom: 20px;
}

/* contact  */
#contact {
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 40%;
  padding: 7px;
}

.contact-left p {
  margin-top: 35px;
}
.contact-left p i {
  color: white;
  margin-top: 15px;
  font-size: 25px;
  margin-right: 10px;
  align-items: center;
}

.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  /* color: #ffc107; */
  transition: transformY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background-color: navy;
  color: white;
  border: 5px solid transparent;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 15px;
  padding: 3px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: 15px;
  /* background-color: #262622; */
  background-color: rgba(0, 0, 0, 0.3);

  padding: 10px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 9px 39px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  width: inherit;
}

#msg {
  color: rgb(235, 220, 8);
  margin-top: -40px;
  display: block;
}

#contact {
  margin-bottom: 10vh;
}

#contact_text {
  font-size: 230%;
  text-align: center;
  margin-bottom: 7vh;
  padding-top: 83px;
}
#githubstats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
  width: 92%;
  margin-top: 31px;
}
#githubstats > div > img {
  width: 90%;
}
#github-top-langs {
  width: 33%;
}
/* css for small screen size  */

nav .uil {
  display: none;
}
#nav-menu+h1{
  cursor: pointer;
}
.social-icons{
  padding-left: 5px;
}

/* footer css */
footer>p{
  text-align: center;
  color: blanchedalmond;
  margin: 10px;
}


@media only screen and (max-width: 600px) {
  /* #header {
      background-image: url();
    } */

  #about {
    width: 100%;
  }
  .project-description{
    display: none;
  }
  #myimage {
    /* width: 161%; */
    margin: auto;
    /* margin-left: 44%; */
  }
 
  .header-text h1 {
    font-size: 30px;
  }
  nav .uil {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .uil {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  /*for the home page.  */
  #home {
    display: grid;
    grid-template-columns: repaet(1, 1fr);
    width: auto;
    /* border: 1px solid black; */
    margin-bottom: -62px;
    padding: 1rem 2rem;
    align-items: flex-end;
  }
  #intro_section {
    font-size: 12px;
    text-align: center;
    margin: auto;
  }
  .name {
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 25px;
  }
  .logotheme > img {
    width: 100%;
    margin: auto;
    /* border: 2px solid red; */

  }
  #about_ex_projects{
    display: flex;
        margin-top: 5vh;
        text-align: center;
        justify-content: space-evenly;
    }
  #githubstats {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 30px;
  }
  .react-activity-calendar {
    width: 90%;
  }
  #githubstats > div > img {
    width: 98%;
  }
  #github-top-langs {
    width: 68%;
  }
  /* skills */
  #skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  #skills {
    margin-top: 2vh;
  }

  /* project_container */
  .project_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 90%;
  }
  .deployed_container {
    margin-top: 1px;
  }
  /* about_section */
  .about_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
  }
  .about_container > div:nth-child(2) {
    width: 85%;
  }
  .about_section {
    margin: auto;
  }
  #about_image > img {
    width: 80%;
    margin: auto;
  }
  #about_image {
    width: 100%;
  }
  .about_section {
    width: 100%;
  }
  #user-detail-intro {
        width: 90%;
    text-align: center;
    margin: auto;
  }
  .project-card {
    font-size: small;
    text-align: center;
  }
  i {
    font-size: small;
  }

  .project-deployed-link > button {
    font-size: small;
  }

  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: 15px;
    background-color: #262622;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }

  /* row */
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}

#resume > a {
  display: none;
}
#logo_img_theme {
  width: 90%;
}



/* expriments */
button {
  border: 3px solid #ff7a59;
}

button:hover {
  border: 3px dotted #ff7a59;
  color: #ff7a59;
  background: #fff;
}
